/* Styles for the search container */
div {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  /* Styles for the search input */
  input {
    padding: 1.2rem;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10rem 0 0 10rem;
  }
  
  /* Styles for the search button */
  div button {
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: red;
    color: white;
    opacity: 0.8;
    outline: none;
  }
  
  /* Styles for the search button on hover */
  div button:hover {
    opacity: 1;
    cursor: pointer;
  }
  